*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background: #191919;
}
.gallery{
    width: 900px;
    display: flex;
    /* to keep the overflow hidden */
    overflow-x: scroll;
}
.gallery div{
    width: 100%;
    display: grid;
    /* so pictures are divided into 3 and 
    all can stay on a rw */
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}
.gallery div img{
    /* to reduce the size of pictures */ 
    width: 100%;
    /* image color grey */
    filter: grayscale(100%);
    transition: transform 0.5s;
}
.gallery::-webkit-scrollbar{
    display: none;
}
.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}
#backbutton, #nextbutton{
    width: 50px;
    cursor: pointer;
    margin:40px ;
}
.gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}